//the color collection :  "Puzzle game with red and yellow counters" from Adobe Color
//the generator for the palette : http://mcg.mbitson.com/#!?primary=%23035aa6&accent=%23f2cb05&warn=%23d91604&themename=mcgtheme
$blue: (
    50 : #e1ebf4,
    100 : #b3cee4,
    200 : #81add3,
    300 : #4f8cc1,
    400 : #2973b3,
    500 : #035aa6,
    600 : #03529e,
    700 : #024895,
    800 : #023f8b,
    900 : #012e7b,
    A100 : #a8c1ff,
    A200 : #759dff,
    A400 : #4278ff,
    A700 : #2966ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$yellow: (
    50 : #fdf9e1,
    100 : #fbefb4,
    200 : #f9e582,
    300 : #f6db50,
    400 : #f4d32b,
    500 : #f2cb05,
    600 : #f0c604,
    700 : #eebe04,
    800 : #ecb803,
    900 : #e8ac01,
    A100 : #ffffff,
    A200 : #fff5dc,
    A400 : #ffe5a9,
    A700 : #ffde90,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$red: (
    50 : #fae3e1,
    100 : #f4b9b4,
    200 : #ec8b82,
    300 : #e45c4f,
    400 : #df392a,
    500 : #d91604,
    600 : #d51303,
    700 : #cf1003,
    800 : #ca0c02,
    900 : #c00601,
    A100 : #ffe9e9,
    A200 : #ffb6b6,
    A400 : #ff8483,
    A700 : #ff6a69,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);